<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>194218909841-437qa7je7gdcernp3gf68jdcf8e49i8v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.194218909841-437qa7je7gdcernp3gf68jdcf8e49i8v</string>
	<key>API_KEY</key>
	<string>AIzaSyAZPrUWG09wQCJ_sgMU-PrNQAuSHRoFe6I</string>
	<key>GCM_SENDER_ID</key>
	<string>194218909841</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ibl.ientrydeveloper</string>
	<key>PROJECT_ID</key>
	<string>ientry-corporate</string>
	<key>STORAGE_BUCKET</key>
	<string>ientry-corporate.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:194218909841:ios:eacc8d9fe89b8e682b1f30</string>
</dict>
</plist>
